* {
	box-sizing: border-box;
}

body{
	background-color: rgba(150,200,255,0.8);
	color: #fe251a;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}
/***Header***/

#navbar{
	background-color: #0000ff;
	border: 0px;
	border-radius: 0px;
}

#brand-name{
	color: #fff;
	font-size: 4.5em;
	font-weight: 600;
	text-shadow: 15px 15px 1px #000;
	font-family: 'Lobster Two', cursive;
	margin-left: 70px;
	text-transform: capitalize;
	text-decoration: underline;
}

#slogan{
	color: #999;
	font-size: 1.8em;
	font-weight: 400;
	font-family: 'Ubuntu', sans-serif;
	margin-left: 70px;
	margin-top: 8px;
	text-transform: capitalize;
}

/***Content***/

#content{
	margin: -50px 0px 20px 10px;
	padding: 30px;
}

#tabs{
	background-color: #5a5bfc;
	border: 5px solid white;
}

#tab{
	color: #f00;
}

#jumbotron{
	border: 3px solid red;
}

#section1,#section2,#section3,#section4{
	background-color: red;
	color: rgba(100,250,100,1.0);
	margin-top: 50px;
	margin-bottom: 50px;
}

#sec-div{
	float: right;
	background-color: blue;
	width: 500px;
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
}

#sec-text{
	clear: both;
	padding: 25px;
	font-size: 1.25em;
}
/***Footer***/

#footer{
	background-color: #333;
	color: #abb1ff;
	height: 125px;
	position: relative;
}

#hours{
	font-size: 15px;
	margin-left:40px;
	margin-top: 25px;
	position: absolute;
	top: 0px;
}

#copyright{
	float: right;
	font-size: 1.25em;
	margin-right: 15px;
	position: absolute;
	top: 90px;
	left: 83vw;

}

/***Menu***/

#main-ul{
	margin-left: 0px;
	padding-left: 0px;
	list-style-type:none;
}

#sub1{
	margin-left: 0px;
	padding-left: 0px;
	list-style-type:none;
}

#main-ul li{
	width: 250px;
	text-align: center;
	border: 3px solid red;
	position: relative;
	float: left;
	margin: 5px;
}

#main-ul a{
	text-decoration: none;
	display: block;
	width: 250px;
}


/*** Large Devices ***/
@media (min-width:1200px){
	#tabs{
	height: 60px;
	font-size: 2em;
	}

	#tab{
	margin:5px 3vw 10px 6vw;
	}

	#jumbotron{
	background-image: url('../images/1200x500.png');
	background-repeat: no-repeat;
	width: 1200px;
	height: 500px;
	margin: 25px 37px 25px;
	}
}
/*** Medium Devices ***/
@media (min-width:992px) and (max-width:1199px){
	#tabs{
		height: 60px;
		font-size: 2em;
		}

	#tab{
	margin:5px 2.8vw 10px 4vw;
	}

	#jumbotron{
		background-image: url('../images/990x400.png');
		background-repeat: no-repeat;
		width: 990px;
		height: 400px;
		margin: 25px 53px 25px;
	}
}
/*** Small Devices ***/
@media (min-width:768px) and (max-width:991px){
	#tabs{
	height: 60px;
	font-size: 1.75em;
	}

	#tab{
	margin:5px 1vw 10px 3.65vw;
	}

	#jumbotron{
		background-image: url('../images/765x350.png');
		background-repeat: no-repeat;
		width: 765px;
		height: 350px;
		margin: 25px 15px 25px;
	}
}
/*** Extra Small Devices ***/
@media (max-width:767px){
	#navbar #brand-name{
	font-size: 3em;
	margin-left: 70px;
}

	#navbar #slogan{
	font-size: 1em;;
	margin-left: 70px;
	margin-top: 8px;
}

	#tabs{
	height: 23vw;
	font-size: 4vw;
	}

	#tab{
	margin:10px 1vw 10px 3.3vw;
	}

	#jumbotron{
		background-image: url('../images/600x300.png');
		background-repeat: no-repeat;
		width: 600px;
		height: 300px;
		margin: 25px auto 25px;
	}
}

***/